//
//  Config.xcconfig
//  News
//
//  Created by Tomas Pecuch on 16/10/2018.
//  Copyright © 2018 Touch Art. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


server_url                   = www.google.com
background_color             = #ffffff
navigation_bar_blur_alpha    = 1
navigation_bar_color         = #000000
